{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_coursefeedback/course_event_slot_table

    Example context (json):
    {
      "survey_execution": {
        "id": 1
      },
      "course": {
        "id": 1,
        "shortname": "ABCEFG"
      },
      "slot_name_help_icon_context": {
        "heading": "Untergruppen",
        "text": "<div class=\"no-overflow\"><p>Untergruppen k\u00f6nnen verwendet werden, um beispielsweise das besuchte Tutorium abzufragen. Wenn es mehrere gibt, muss eine ausgew\u00e4hlt werden, bevor der Fragebogen beantwortet werden kann.<\/p>\n<\/div>",
        "alt": "Hilfe f\u00fcr Untergruppen",
        "icon": {
          "attributes": [
            {
              "name": "alt",
              "value": "Hilfe f\u00fcr Untergruppen"
            },
            {
              "name": "title",
              "value": "Hilfe f\u00fcr Untergruppen"
            },
            {
              "name": "src",
              "value": "http:\/\/localhost:8000\/theme\/image.php\/boost\/core\/1778160883\/help"
            }
          ],
          "extraclasses": ""
        },
        "linktext": null,
        "title": "Hilfe f\u00fcr Untergruppen",
        "url": "http:\/\/localhost:8000\/help.php?component=block_coursefeedback&identifier=slots&lang=de",
        "ltr": true
      },
      "slot_users_help_icon_context": {
        "heading": "Untergruppen-Lehrende",
        "text": "<div class=\"no-overflow\"><p>Hier k\u00f6nnen Nutzer\/innen (z.B. Tutor\/innen) angegeben werden, sodass nur diese die Ergebnisse der Untergruppe sehen. Werden keine angegeben, k\u00f6nnen alle Trainer\/innen die Ergebnisse sehen. Teilnehmer\/innen sehen nur den Namen der Untergruppe.<\/p>\n<\/div>",
        "alt": "Hilfe f\u00fcr Untergruppen-Lehrende",
        "icon": {
          "attributes": [
            {
              "name": "alt",
              "value": "Hilfe f\u00fcr Untergruppen-Lehrende"
            },
            {
              "name": "title",
              "value": "Hilfe f\u00fcr Untergruppen-Lehrende"
            },
            {
              "name": "src",
              "value": "http:\/\/localhost:8000\/theme\/image.php\/boost\/core\/1778160883\/help"
            }
          ],
          "extraclasses": ""
        },
        "linktext": null,
        "title": "Hilfe f\u00fcr Untergruppen-Lehrende",
        "url": "http:\/\/localhost:8000\/help.php?component=block_coursefeedback&identifier=slot_users&lang=de",
        "ltr": true
      },
      "show_add_event": true,
      "events": [
        {
          "id": 1,
          "name": "Vorlesung für Lineare Algebra I",
          "type": {
            "name": "Vorlesung"
          },
          "allow_deletion": true,
          "deletion_tooltip": "Delete event",
          "allow_changing_type": true,
          "available_event_types": [
            {
              "id": 1,
              "name": "Vorlesung",
              "selected": true
            },
            {
              "id": 2,
              "name": "Übung",
              "selected": false
            }
          ],
          "survey_part_execution": {
            "id": 11,
            "rowspan": 2,
            "show_add_slot": true,
            "first_slot": {
              "id": 111,
              "name": "-",
              "allow_deletion": false,
              "deletion_tooltip": "An event must have at least one slot, so the last one can't be deleted.",
              "users_editable_context": {}
            },
            "more_slots": []
          }
        },
        {
          "id": 2,
          "name": "Übung für Lineare Algebra I",
          "type": {
            "name": "Übung"
          },
          "allow_deletion": false,
          "deletion_tooltip": "The survey in this course has already started or is about to start. Structural changes can no longer be made.",
          "allow_changing_type": false,
          "available_event_types": [
            {
              "id": 1,
              "name": "Vorlesung",
              "selected": false
            },
            {
              "id": 2,
              "name": "Übung",
              "selected": true
            }
          ],
          "survey_part_execution": {
            "id": 21,
            "rowspan": 4,
            "show_add_slot": false,
            "first_slot": {
              "id": 211,
              "name": "Mo 12-14 Uhr",
              "allow_deletion": false,
              "deletion_tooltip": "The survey in this course has already started or is about to start. Structural changes can no longer be made.",
              "users_editable_context": {}
            },
            "more_slots": [
              {
                "id": 212,
                "name": "Do 14-16 Uhr",
                "allow_deletion": false,
                "deletion_tooltip": "The survey in this course has already started or is about to start. Structural changes can no longer be made.",
                "users_editable_context": {}
              },
              {
                "id": 213,
                "name": "Fr 10-12 Uhr",
                "allow_deletion": false,
                "deletion_tooltip": "The survey in this course has already started or is about to start. Structural changes can no longer be made.",
                "users_editable_context": {}
              }
            ]
          }
        }
      ],
      "available_event_types": [
        {
          "id": 1,
          "name": "Vorlesung"
        },
        {
          "id": 2,
          "name": "Übung"
        }
      ]
    }
}}

<div class="overflow-auto block_coursefeedback_course_event_slot_table" x-ref="courseMappingTable"
     x-data="table({{course.id}})">
    <table class="table" style="margin-bottom: 100px">
        <thead>
        <tr>
            <th scope="col">{{#str}} teaching_event, block_coursefeedback {{/str}}</th>
            <th scope="col">{{#str}} event_type, block_coursefeedback {{/str}}</th>
            <th scope="col">{{! Event actions. }}</th>
            <th scope="col">
                {{#str}} slot_name, block_coursefeedback {{/str}}
                {{#slot_name_help_icon_context}}{{>core/help_icon}}{{/slot_name_help_icon_context}}
            </th>
            <th scope="col">
                {{#str}} slot_users, block_coursefeedback {{/str}}
                {{#slot_users_help_icon_context}}{{>core/help_icon}}{{/slot_users_help_icon_context}}
            </th>
            <th scope="col">{{! Slot delete button. }}</th>
        </tr>
        </thead>
        {{#events}}
            <tbody x-data='event({{id}})' data-eventname="{{name}}">
            <tr x-data='slot({{survey_part_execution.first_slot.id}})' data-slotname="{{survey_part_execution.first_slot.name}}">
                <td rowspan="{{survey_part_execution.rowspan}}">
                    <div :class='editingEvent && "hidden-preserving-width"'>{{name}}</div>
                    <form class="editing-in-cell" x-show="editingEvent" x-cloak
                          id="block_coursefeedback-event-form-{{uniqid}}-{{id}}" action="#"
                          @submit.prevent="submitEvent($event); editingEvent = false">
                        <input type="text" name="name" value="{{name}}" required
                               class="form-control"
                               title="{{#str}} event_name, block_coursefeedback {{/str}}"
                               aria-label="{{#str}} event_name, block_coursefeedback {{/str}}"
                               placeholder="{{#str}} event_name_placeholder, block_coursefeedback {{/str}}">

                        <input type="hidden" name="surveyexecutionid" value="{{survey_execution.id}}">
                        <input type="hidden" name="eventid" value="{{id}}">
                    </form>
                </td>
                <td rowspan="{{survey_part_execution.rowspan}}">
                    <div :class='editingEvent && {{allow_changing_type}} && "hidden-preserving-width"'>{{type.name}}</div>
                    <div class="editing-in-cell" x-show="editingEvent && {{allow_changing_type}}" x-cloak>
                        <select title="{{#str}} event_type, block_coursefeedback {{/str}}"
                                aria-label="{{#str}} event_type, block_coursefeedback {{/str}}"
                                class="form-control form-select"
                                name="eventtypeid"
                                form="block_coursefeedback-event-form-{{uniqid}}-{{id}}"
                                required>
                            {{#available_event_types}}
                                <option value="{{id}}" {{#selected}} selected {{/selected}}>{{name}}</option>
                            {{/available_event_types}}
                        </select>
                    </div>
                </td>
                <td rowspan="{{survey_part_execution.rowspan}}" class="action-buttons-column">
                    <button x-show="!editingEvent"
                            class="btn btn-link text-body"
                            aria-label="{{#str}} edit_event, block_coursefeedback {{/str}}"
                            title="{{#str}} edit_event, block_coursefeedback {{/str}}" @click="editingEvent = true">
                        {{#pix}}t/edit{{/pix}}
                    </button>
                    {{! Disabled buttons aren't focusable or hoverable, so we attach the tooltip to a div. }}
                    <div class="d-inline-block"
                         title="{{deletion_tooltip}}"
                         tabindex="0">
                        <button x-show="!editingEvent"
                                class="btn btn-link {{#allow_deletion}}text-danger{{/allow_deletion}}"
                                aria-label="{{deletion_tooltip}}"
                                @click="deleteEvent"
                                {{^allow_deletion}}disabled{{/allow_deletion}}>
                            {{#pix}}t/delete{{/pix}}
                        </button>
                    </div>
                    <button x-show="editingEvent" x-cloak
                            type="submit" class="btn btn-link text-success"
                            form="block_coursefeedback-event-form-{{uniqid}}-{{id}}"
                            title="{{#str}} submit {{/str}}" aria-label="{{#str}} submit {{/str}}">
                        {{#pix}}t/check{{/pix}}
                    </button>
                    <button x-show="editingEvent" x-cloak
                            type="reset" class="btn btn-link text-danger"
                            form="block_coursefeedback-event-form-{{uniqid}}-{{id}}"
                            title="{{#str}} cancel {{/str}}" aria-label="{{#str}} cancel {{/str}}"
                            @click="editingEvent = false">
                        {{#pix}}e/cancel{{/pix}}
                    </button>
                </td>
                {{#survey_part_execution.first_slot}}
                    {{> block_coursefeedback/course_event_slot_table/slot_cells }}
                {{/survey_part_execution.first_slot}}
            </tr>
            {{#survey_part_execution.more_slots}}
                <tr x-data='slot({{id}})' data-slotname="{{name}}">
                    {{> block_coursefeedback/course_event_slot_table/slot_cells }}
                </tr>
            {{/survey_part_execution.more_slots}}
            {{#survey_part_execution.show_add_slot}}
                <tr @click.outside="addingNewSlot = false">
                    <td colspan="2">
                        <a class="link-primary" role="button"
                           :class="addingNewSlot && 'hidden-preserving-width'"
                           @click="addingNewSlot = true; $nextTick(() => $refs.slotNameInput.focus())"
                        >
                            {{#pix}}t/add{{/pix}} {{#str}} add_new_slot_to, block_coursefeedback, {{name}} {{/str}}
                        </a>
                        <form id="block_coursefeedback-new-slot-form-{{uniqid}}-event-{{id}}" action="#"
                              @submit.prevent="submitSlot($event); addingNewSlot = false"
                              class="editing-in-cell"
                              x-show="addingNewSlot" x-cloak>
                            <input type="text"
                                   title="{{#str}} slot_name, block_coursefeedback {{/str}}"
                                   aria-label="{{#str}} slot_name, block_coursefeedback {{/str}}"
                                   placeholder="{{#str}} slot_name_placeholder, block_coursefeedback {{/str}}"
                                   class="form-control"
                                   x-ref="slotNameInput"
                                   name="name"
                                   required
                            />

                            <input type="hidden" name="surveypartexecutionid" value="{{survey_part_execution.id}}">
                        </form>
                    </td>
                    <td class="action-buttons-column" x-cloak>
                        <button :class="addingNewSlot || 'invisible'"
                                type="submit" class="btn btn-link text-success"
                                form="block_coursefeedback-new-slot-form-{{uniqid}}-event-{{id}}"
                                title="{{#str}} submit {{/str}}" aria-label="{{#str}} submit {{/str}}">
                            {{#pix}}t/check{{/pix}}
                        </button>
                        <button :class="addingNewSlot || 'invisible'"
                                type="reset" class="btn btn-link text-danger"
                                form="block_coursefeedback-new-slot-form-{{uniqid}}-event-{{id}}"
                                title="{{#str}} cancel {{/str}}" aria-label="{{#str}} cancel {{/str}}"
                                @click="addingNewSlot = false">
                            {{#pix}}e/cancel{{/pix}}
                        </button>
                    </td>
                </tr>
            {{/survey_part_execution.show_add_slot}}
            </tbody>
        {{/events}}
        {{#show_add_event}}
            <tr x-show="!addingNewEvent">
                <td colspan="6">
                    <a class="link-primary" role="button"
                       @click="addingNewEvent = true; $nextTick(() => $refs.newEventNameInput.focus())"
                    >
                        {{#pix}}
                            t/add{{/pix}} {{#str}} add_new_event_to, block_coursefeedback, {{course.shortname}} {{/str}}
                    </a>
                </td>
            </tr>
        {{/show_add_event}}
        <tr x-show="addingNewEvent" x-cloak @click.outside="addingNewEvent = false">
            <td>
                <form id="block_coursefeedback-new-event-form-{{uniqid}}" action="#"
                      @submit.prevent="submitEvent($event); addingNewEvent = false"
                      class="editing-in-cell">
                    <input type="text"
                           title="{{#str}} event_name, block_coursefeedback {{/str}}"
                           aria-label="{{#str}} event_name, block_coursefeedback {{/str}}"
                           placeholder="{{#str}} event_name_placeholder, block_coursefeedback {{/str}}"
                           class="form-control"
                           name="name"
                           required
                           x-ref="newEventNameInput">

                    <input type="hidden" name="surveyexecutionid" value="{{survey_execution.id}}">
                </form>
            </td>
            <td>
                <div class="editing-in-cell">
                    <select title="{{#str}} event_type, block_coursefeedback {{/str}}"
                            aria-label="{{#str}} event_type, block_coursefeedback {{/str}}"
                            class="form-control form-select"
                            form="block_coursefeedback-new-event-form-{{uniqid}}"
                            name="eventtypeid"
                            required>
                        {{#available_event_types}}
                            <option value="{{id}}">{{name}}</option>
                        {{/available_event_types}}
                    </select>
                </div>
            </td>
            <td colspan="1" class="action-buttons-column">
                <button type="submit" class="btn btn-link text-success"
                        form="block_coursefeedback-new-event-form-{{uniqid}}"
                        title="{{#str}} submit {{/str}}" aria-label="{{#str}} submit {{/str}}">
                    {{#pix}}t/check{{/pix}}
                </button>
                <button type="reset" class="btn btn-link text-danger"
                        form="block_coursefeedback-new-event-form-{{uniqid}}"
                        title="{{#str}} cancel {{/str}}" aria-label="{{#str}} cancel {{/str}}"
                        @click="addingNewEvent = false">
                    {{#pix}}e/cancel{{/pix}}
                </button>
            </td>
            <td colspan="3"></td>
        </tr>
    </table>
</div>
{{#register_alpine_js_module}} block_coursefeedback/course_event_slot_table {{/register_alpine_js_module}}
{{#js}}
    require(['core/inplace_editable']);
{{/js}}
