{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_coursefeedback/organization

    This template renders the organization overview page.

    Example context (json):
    {
    }

}}

{{#has_default_survey_period}}
    {{#str}} default_survey_period, block_coursefeedback {{/str}}:
    {{#userdate}} {{default_evaluation_starttime}}, {{#str}} strftimedatetimeshort, core_langconfig {{/str}} {{/userdate}} -
    {{#userdate}} {{default_evaluation_endtime}}, {{#str}} strftimedatetimeshort, core_langconfig {{/str}} {{/userdate}}
{{/has_default_survey_period}}
{{^has_default_survey_period}}
    {{#str}} no_default_survey_period_set, block_coursefeedback {{/str}}
{{/has_default_survey_period}}

<a href="{{{edit_default_survey_period_url}}}">{{#pix}} t/edit, moodle, {{#str}} edit {{/str}}{{/pix}}</a><br><br>

<ul class="list-unstyled">
    <li>
        <a href="{{{organization_settings_url}}}">
            {{#str}}general_settings_and_permissions, block_coursefeedback{{/str}}
        </a>
    </li>
    {{#surveyparts_url}}
        <li>
            <a href="{{{.}}}">
                {{#str}}organization_questionnaires, block_coursefeedback, {{name}}{{/str}}
            </a>
        </li>
    {{/surveyparts_url}}
    <li>
        <a href="{{{default_surveypart_url}}}">
            {{#str}}define_default_surveyparts, block_coursefeedback{{/str}}
        </a>
    </li>
    {{#rub_eventtype_mapping_url}}
        <li>
            <a href="{{{rub_eventtype_mapping_url}}}">
                {{#str}}define_rub_eventtype_mapping, block_coursefeedback{{/str}}
            </a>
        </li>
    {{/rub_eventtype_mapping_url}}
    <li>
        <a href="{{{courses_without_evaluation_url}}}">
            {{#str}}list_of_courses_without_evaluation, block_coursefeedback{{/str}}
        </a>
    </li>
    <li>
        <a href="{{{evaluations_url}}}">
            {{#str}}list_of_evaluations, block_coursefeedback{{/str}}
        </a>
    </li>
</ul>
